<mat-card *ngIf="training" class="training-card">
    <mat-card-title class="d-flex justify-between">
        <span>Training</span>
        <button mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-title>


    <mat-card-subtitle>{{ training.date | date:'EEEE, dd.MM.yyyy, HH:mm' }}, {{ training.subject }} ({{
        training.duration }} min)
    </mat-card-subtitle>

    <mat-card-content>
        <div class="d-flex">
            <!-- client data -->
            <mat-card class=" details-card border-primary mr-16">
                <h3 class="bg-mode">
                    <mat-icon color="primary"> person </mat-icon> {{ training.clientData.firstName }} {{
                    training.clientData.lastName }}
                </h3>

                <mat-card-content class="mt-8">
                    <h4>Contact</h4>
                    <div *ngIf=" training.clientData.mobilePhone.number">
                        <span>{{ training.clientData.mobilePhone.areaCode }} / {{ training.clientData.mobilePhone.number
                            }}
                        </span>
                        <mat-checkbox color="primary" [checked]="training.clientData.whatsApp" disabled="" class="ml-8">
                            WhatsApp
                        </mat-checkbox>
                    </div>
                    <p *ngIf=" training.clientData.landlinePhone.number">{{ training.clientData.landlinePhone.areaCode
                        }} /
                        {{ training.clientData.landlinePhone.number }} </p>
                    <p *ngIf=" training.clientData.email">{{ training.clientData.email }} </p>

                    <h4 *ngIf=" training.clientData.street">Address</h4>
                    <p *ngIf=" training.clientData.street">{{ training.clientData.street }} </p>
                    <p *ngIf=" training.clientData.city">{{ training.clientData.zipCode }} {{ training.clientData.city
                        }}
                    </p>
                </mat-card-content>
            </mat-card>

            <!-- dog data -->
            <mat-card class=" details-card border-accent">
                <h3 class="bg-mode">
                    <mat-icon color="accent"> pets </mat-icon> {{ training.dogData.name }}
                </h3>
                <mat-card-content class="mt-8">
                    <p>
                        <span class="category">Breed: </span>
                        {{ training.dogData.breed }}
                    </p>
                    <p>
                        <span class="category">Gender: </span>
                        {{ training.dogData.gender }}{{ training.dogData.castrated ? ', castrated':', intact' }}
                    </p>
                    <p *ngIf="training.dogData.age">
                        <span class="category">Age: </span>
                        {{ getDetailedAge(training.dogData.age) }}
                    </p>
                    <p *ngIf="training.dogData.notes">
                        <span class="category">Notes: </span>
                        {{ training.dogData.notes }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>


        <!-- topics -->
        <h4>Main topics </h4>
        <mat-form-field appearance="fill" class="topics">
            <input matInput [(ngModel)]="training.topics" name="topics" max-length="30" placeholder="Topics in keywords">
        </mat-form-field>

        <!-- notes -->
        <h4>Training Notes</h4>
        <mat-form-field appearance="fill" class="full-width">
            <textarea matInput  cdkTextareaAutosize class="form-control" [(ngModel)]="training.trainingNotes" name="notes" #notes="ngModel"
                cdkTextareaAutosize placeholder="Exercises, difficulties, success,...">
                        </textarea>
        </mat-form-field>

        <!-- homework -->
        <h4>Homework</h4>
        <mat-form-field appearance="fill" class="full-width">

            <textarea matInput  cdkTextareaAutosize class="form-control" [(ngModel)]="training.homework" name="homework" #homework="ngModel"
                cdkTextareaAutosize placeholder="Exercises, frequency,...">
                                    </textarea>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="openDeleteConfirmationDialog()">DELETE TRAINING</button>
        <button mat-button>CANCEL CHANGES</button>
        <button mat-button (click)="saveTraining()">SAVE CHANGES</button>
    </mat-card-actions>
</mat-card>