.details-card {
    width: 50%;
    max-width: 280px;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;

    p {
        margin: 0px 0px 0px;
    }

    h3 {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        padding: 0px 8px;
        margin: 0px -8px;
    }

    h4 {
        font-weight: 500;
        margin: 8px 0 4px 0;
    }

    .category {
        display: inline-block;
        font-weight: 500;
        margin: 8px 0 4px 0;
    }
}