:host {
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-card {
    width: 820px;
    max-width: var(--full-minus-2sizem);
    max-height: var(--full-minus-2sizem);
    margin: var(--size-m);
    overflow: auto;

    @media(max-width:528px) {
        margin: 0;
    }
}

.metadata {
    position: relative;


    .edit-btn {
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(0, 0, 0, 0.54);
        visibility: hidden;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);

        .edit-btn {
            visibility: visible;
        }
    }
}

.details-card {
    min-width: 240px;
    max-width: min(410px, 50%);
    flex: 1;

    @media (max-width:528px) {
        width: 100%;
        max-width: unset;
    }
}

h4 {
    font-weight: 500;
    margin: 8px 0 4px 0;
}

.half-width {
    width: 100%;
}