<mat-card *ngIf="training" class="wrapper-card">
    <mat-card-title class="d-flex justify-between">
        <span>Training</span>
        <button mat-icon-button (click)="closeTraining()" title="close without saving changes">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-title>

    <mat-card-content>
        <div class="metadata">
            <button class="edit-btn" mat-icon-button (click)="editTraining()" title="edit key data">
                <mat-icon>edit</mat-icon>
            </button>

            <mat-card-subtitle>
                {{ training.date | date:'EEEE, dd.MM.yyyy, HH:mm' }}, {{ training.subject }} ({{ training.duration }}
                min)
            </mat-card-subtitle>

            <div class="d-flex mt-l pt-l g-m flex-wrap metadata">

                <!-- client data -->
                <app-small-client-card [client]="training.clientData" class="details-card mt-m mb-m"></app-small-client-card>

                <!-- dog data -->
                <app-small-dog-card [dog]="training.dogData" class="details-card mt-m mb-m">
                </app-small-dog-card>

            </div>
        </div>

        <!-- topics & location -->
        <div class="full-width d-flex flex-wrap justify-between g-m  mb-m">
            <div class="half-width">
                <h4>Main topics </h4>
                <mat-form-field appearance="fill" class="full-width">
                    <input matInput [(ngModel)]="training.topics" name="topics" max-length="30"
                        placeholder="Topics in keywords">
                </mat-form-field>
            </div>
            <div class="half-width">
                <h4>Location </h4>
                <mat-form-field appearance="fill" class="full-width">
                    <input matInput [(ngModel)]="training.location" name="location">
                </mat-form-field>
            </div>
        </div>

        <!-- notes -->
        <h4>Training Notes</h4>
        <mat-form-field appearance="fill" class="full-width">
            <textarea matInput cdkTextareaAutosize class="form-control" [(ngModel)]="training.trainingNotes"
                name="notes" #notes="ngModel" cdkTextareaAutosize placeholder="Exercises, difficulties, success,...">
                        </textarea>
        </mat-form-field>

        <!-- homework -->
        <h4>Homework</h4>
        <mat-form-field appearance="fill" class="full-width">

            <textarea matInput cdkTextareaAutosize class="form-control" [(ngModel)]="training.homework" name="homework"
                #homework="ngModel" cdkTextareaAutosize placeholder="Exercises, frequency,...">
                                    </textarea>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="openDeleteConfirmationDialog()">DELETE TRAINING</button>
        <button mat-button (click)="closeTraining()">CANCEL CHANGES</button>
        <button mat-button (click)="saveTraining()">SAVE CHANGES</button>
    </mat-card-actions>
</mat-card>