<div *ngIf="myAuth.auth.user | async as user; else showLogin">
  <h1>You are logged in as {{ user.email ? user.email : "guest" }}.</h1>
  <button mat-stroked-button (click)="logout()">Logout</button>
</div>

<ng-template #showLogin>
  <div class="login-container ">
    <mat-card class="login-card">
      <mat-tab-group
        mat-align-tabs="center"
        mat-stretch-tabs
        selectedIndex="1"
        animationDuration="0ms"
        class="p-m"
      >
        <mat-tab label="Log in">
          <mat-card-title class="mt-l">
            <p>Log in</p>
          </mat-card-title>
          <mat-card-content>
            <form #loginForm="ngForm">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  autocomplete="username"
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                  [(ngModel)]="loginEmail"
                  name="email"
                  id="loginEmail"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  autocomplete="current-password"
                  [(ngModel)]="loginPassword"
                  name="password"
                  id="loginPassword"
                  required
                />
              </mat-form-field>
            </form>

            <button
              mat-flat-button
              (click)="login()"
              [disabled]="!loginForm.valid"
              class="full-width"
            >
              Log in
            </button>
          </mat-card-content>
        </mat-tab>

        <mat-tab label="Register ">
          <mat-card-title class="mt-l">
            <p>Register or continue as guest</p>
          </mat-card-title>
          <mat-card-content>
            <form #signupForm="ngForm" class="mb-m">
              <div>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    autocomplete="username"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    [(ngModel)]="signinEmail"
                    #email="ngModel"
                    name="email"
                    id="signinEmail"
                    [disabled]="guest"
                    required
                  />
                  <mat-error
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                  >
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  autocomplete="new-password"
                  pattern=".{6,}"
                  [(ngModel)]="signinPassword"
                  name="password"
                  id="signinPassword"
                  [disabled]="guest"
                  required
                />
              </mat-form-field>

              <button
                mat-flat-button
                (click)="signup()"
                [disabled]="!signupForm.valid"
                class="full-width"
              >
                Register
              </button>
            </form>

            <button
              mat-button
              (click)="guestLogin()"
              class="full-width"
            >
              Continue as guest
            </button>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</ng-template>
