.d-none {
    display: none;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pos-relative {
    position: relative;
}

.full-width {
    width: 100%
}

.full-height {
    height: 100%;
}

.full-height-minus-2sizem {
    height: var(--full-minus-2sizem);
}

// general media queries
@media (max-width:800px) {
    .hide-below-800 {
        display: none;
    }
}

@media (max-width:460px) {
    .hide-below-460 {
        display: none !important;
    }
}

@media (min-width:461px) {
    .hide-above-460 {
        display: none;
    }
}

@media (max-width:360px) {
    .hide-below-360 {
        display: none;
    }
}