:root {
    --primary: #00bcd4;
    --accent: #ffa726;
    --dark: #424242;
    --size-xs: 4px;
    --size-s: 8px;
    --size-m: 16px;
    --size-l: 32px;
    --full-minus-2sizem: calc(100% - 2* 16px);
}