<mat-card class="full-height-minus-2sizem flex-1 border-accent">
    <h3 class="card-header">
        <div class="bg-mode pl-s pr-s d-flex align-center ">
            <mat-icon color="accent" class="pr-xs"> pets </mat-icon>
            <span>
                {{ dog.name }}
            </span>
        </div>
    </h3>
    <mat-card-content class="mt-s">
        <p>
            <span class="category">Breed: </span>
            {{ dog.breed }}
        </p>
        <p *ngIf="dog.color">
            <span class="category">Color: </span>
            {{ dog.color }}
        </p>
        <p>
            <span class="category">Gender: </span>
            {{ dog.gender }}{{ dog.castrated ? ', castrated':', intact' }}
        </p>
        <p *ngIf="dog.age">
            <span class="category">Age: </span>
            {{ getDetailedAge(dog.age) }}
        </p>
        <p *ngIf="dog.chipNumber">
            <span class="category">Chip-No.: </span>
            {{ dog.chipNumber }}
        </p>
        <p *ngIf="dog.notes">
            <span class="category">Notes: </span>
            {{ dog.notes }}
        </p>
    </mat-card-content>
</mat-card>