.card-header {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    padding: 0px 8px;
    margin: 0px -8px;
}
h3 {
    font-weight: 500;
}

.category {
    display: inline-block;
    font-weight: 500;
    margin: 8px 0 4px 0;
}
p {
    margin: 0px 0px 0px;
}