:host {
    position: relative;
}

.mat-dialog-content {
    max-height: 68vh;
}

.mat-form-field {
    max-width: 100%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.mat-radio-button~.mat-radio-button {
    margin-left: var(--size-m);
}