mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    cursor: pointer;
    display: flex;
    align-items: center;

    .logo {
        width: 48px;
        height: 48px;
        padding: var(--size-s) var(--size-s) var(--size-s) var(--size-m);
    }
}

.search {
    display: flex;
    flex: 1 1 auto;
    max-width: 360px;
}

#searchField {
    flex: 1;
    width: 120px;
}


mat-sidenav-container {
    height: calc(100% - 64px);


    img {
        width: 28px;
        height: 32px;
        padding: 4px;
    }
}

mat-sidenav-content {
    height: calc(100vh - 64px);
    overflow: hidden;

    .main {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

}