.spacer {
    flex: 1 1 auto;
}

.logo {
    width: 48px;
    height: 48px;
    padding: 8px 8px 8px 16px;
}

.search {
    display: flex;
}
.mode-toggle{
    display: flex;
    align-items: center;
    gap:4px;
}

mat-sidenav-container {
    height:calc(100% - 64px) ;
   

    img {
        width: 28px;
        height: 32px;
        padding:4px;
    }
}

mat-sidenav-content{
    display: flex;
}