<mat-toolbar color="primary" role="heading">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/img/favicon.png" alt="Logo">
    <span>Dogschool CRM</span>
    <span class="spacer"></span>
    <div class="search">
        <button class="material-icons">search</button>
        <input type="text">
    </div>
    <span class="spacer"></span>


    <div class="mode-toggle">
        <img src="assets/img/light_mode_white.svg" title="light mode">
        <mat-slide-toggle class="example-margin" aria-label="switch between light and dark mode" [checked]="darkMode"
            (change)="toggleMode($event)">

        </mat-slide-toggle>
        <img src="assets/img/dark_mode_white.svg" title="dark mode">
    </div>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
    <mat-sidenav #drawer mode="side" opened>
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListIcon> dashboard </mat-icon>
                <span> Dashboard </span>
            </mat-list-item>
            <mat-list-item [routerLink]="'/clients'">
                <mat-icon matListIcon> person </mat-icon>
                <span> Clients </span>
            </mat-list-item>
            <mat-list-item [routerLink]="'/dogs'">
                <mat-icon matListIcon> pets </mat-icon>
                <span> Dogs </span>
            </mat-list-item>
            <!-- <mat-list-item>
                <img class="svg-icon" src="assets/img/group.svg">
                <span> Groups </span>
            </mat-list-item> -->
            <mat-list-item>
                <img class="svg-icon" src="assets/img/training.svg">
                <span> Trainings </span>
            </mat-list-item>


            <mat-list-item (click)="toggleSubItems()">
                <mat-icon matListIcon> receipt_long </mat-icon>
                <span> Legal </span>
            </mat-list-item>
            <ng-container *ngIf="subItems">
                <mat-list-item (click)="toggleSubItems()" [routerLink]="'/legal-notice'">
                    <span class="ml-32"> Legal Notice </span>
                </mat-list-item>
                <mat-list-item (click)="toggleSubItems()" [routerLink]="'/privacy-notice'">
                    <span class="ml-32"> Privacy Notice </span>
                </mat-list-item>
            </ng-container>

            <mat-divider></mat-divider>

            <mat-list-item (click)="logout()" [routerLink]="'/login'">
                <mat-icon matListIcon> logout </mat-icon>
                <span> Logout </span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="d-flex">

        <div id="main" class="main p-16 router-container">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="resizer" id="dragMe"></div>
        <div id="side" class="side">
            side
        </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>