<h2 *ngIf="!!!training.trainingID" mat-dialog-title>Add a new training</h2>
<h2 *ngIf="!!training.trainingID"mat-dialog-title>Edit training</h2>

<button class="close-btn" mat-icon-button mat-dialog-close title="close without saving">
    <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
    <form #addTrainingForm="ngForm">
        <div class="dialog-container form-group">

            <!-- client & dog -->
            <div class="full-width d-flex justify-between g-m  mb-m">
                <mat-form-field appearance="outline">
                    <mat-label>Owner</mat-label>
                    <mat-select [(ngModel)]="training.clientID" name="clientID" required
                       (selectionChange)="filterDogsOfSelectedClient()" >
                        <input class="full-width p-m" (keyup)="applyClientFilter($event)">
                        <mat-option *ngFor="let client of filteredClients" [value]="client.clientID">
                            {{client.firstName}} {{client.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Dog</mat-label>
                    <mat-select [(ngModel)]="training.dogID" name="dogID" required>
                        <mat-option *ngFor="let dog of filteredDogs" [value]="dog.dogID">
                            {{dog.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- date & duration-->
            <div class="full-width d-flex justify-between g-m  mb-m">
                <mat-form-field appearance="outline">
                    <mat-label>Date & time </mat-label>
                    <input matInput type="datetime-local" [(ngModel)]="dateInput" name="hours" step ="900" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <mat-select [(ngModel)]="training.duration" name="duration" required>
                        <mat-option *ngFor="let duration of durationArray" value="{{ duration }}">
                            {{ duration }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <!--  location-->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Location </mat-label>
                <input matInput [(ngModel)]="training.location" name="location">
            </mat-form-field>

            <!-- subject & topics -->
            <div class="full-width d-flex justify-between g-m  mb-m">
                <mat-form-field appearance="outline" >
                    <mat-label>Subject</mat-label>
                    <mat-select [(ngModel)]="training.subject" name="subject" required>
                        <mat-option *ngFor="let subject of subjects" value="{{ subject }}">
                            {{ subject }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Main topics </mat-label>
                    <input matInput [(ngModel)]="training.topics" name="topics" max-length="30">
                </mat-form-field>
            </div>

            <!-- notes -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Training Notes</mat-label>
                <textarea matInput class="form-control" [(ngModel)]="training.trainingNotes" name="notes"
                    #notes="ngModel" cdkTextareaAutosize placeholder="Exercises, difficulties, success,...">
                </textarea>
            </mat-form-field>

            <!-- homework -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Homework</mat-label>
                <textarea matInput class="form-control" [(ngModel)]="training.homework" name="homework"
                    #homework="ngModel" cdkTextareaAutosize placeholder="Exercises, frequency,...">
                            </textarea>
            </mat-form-field>
        </div>

    </form>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close [disabled]="!addTrainingForm.valid" (click)="saveTraining()">Save</button>
    </mat-dialog-actions>


</mat-dialog-content>