/////////////////////////////////////////////////////////////////////////////////////////////
//custom material theme 
@use '@angular/material' as mat;

@import '~material-icons-font/sass/variables';
@import '~material-icons-font/sass/mixins';
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import '~material-icons-font/sass/main';
@import '~material-icons-font/sass/Regular';

@include mat.core();

$dogschool-crm-primary: mat.define-palette(mat.$cyan-palette);
$dogschool-crm-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$dogschool-crm-warn: mat.define-palette(mat.$red-palette);

$dogschool-crm-theme: mat.define-light-theme((color: (primary: $dogschool-crm-primary,
        accent: $dogschool-crm-accent,
        warn: $dogschool-crm-warn,
      )));

$dogschool-crm-dark-theme: mat.define-dark-theme((color: (primary: $dogschool-crm-primary,
        accent: $dogschool-crm-accent,
        warn: $dogschool-crm-warn,
      )));

@include mat.all-component-themes($dogschool-crm-theme);

.dark-mode {
  @include mat.all-component-colors($dogschool-crm-dark-theme);
}


/////////////////////////////////////////////////////////////////////////////////////////////
:root {
  --primary: #00bcd4;
  --accent: #ffa726;
  --dark: #424242;
  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;
  --full-minus-2sizem: calc(100% - 2* 16px);
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.bg-mode {
  background-color: white;
}


.dark-mode {
  .svg-icon {
    filter: invert(1);
  }

  .bg-mode {
    background-color: var(--dark) !important;
  }
}

.d-none {
  display: none;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pos-relative {
  position: relative;
}

.p-xs {
  padding: var(--size-xs);
}

.p-s {
  padding: var(--size-s);
}

.p-m {
  padding: var(--size-m);
}

.pb-m {
  padding-bottom: var(--size-m);
}

.pt-m {
  padding-top: var(--size-m);
}

.pt-l {
  padding-top: var(--size-l);
}

.pl-s {
  padding-left: var(--size-s);
}

.pr-xs {
  padding-right: var(--size-xs);
}

.pr-s {
  padding-right: var(--size-s);
}

.pr-m {
  padding-right: var(--size-m);
}

.m-m {
  margin: var(--size-m);
}

.mt-m {
  margin-top: var(--size-m);
}

.mb-m {
  margin-bottom: var(--size-m);
}

.mb-l {
  margin-bottom: var(--size-l);
}

.mr-m {
  margin-right: var(--size-m);
}

.mt-s {
  margin-top: var(--size-s) !important;
}

.mt-l {
  margin-top: var(--size-l);
}

.ml-s {
  margin-left: var(--size-s);
}

.ml-l {
  margin-left: var(--size-l);
}

.g-m {
  gap: var(--size-m);
}

.border {
  border: 1px solid black;
}

.border-primary {
  border: 1px solid var(--primary);
}

.border-accent {
  border: 1px solid var(--accent);
}

.full-width {
  width: 100%
}

.full-height {
  height: 100%;
}

.full-height-minus-2sizem {
  height: var(--full-minus-2sizem);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

@media (max-width:800px) {
  .hide-below-800 {
    display: none;
  }
}

@media (max-width:460px) {
  .hide-below-460 {
    display: none !important;
  }
}

@media (min-width:461px) {
  .hide-above-460 {
    display: none;
  }
}

@media (max-width:360px) {
  .hide-below-360 {
    display: none;
  }
}

/*custom scrollbar**********************************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #e9e9e9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // doesn't work
  background: var(--primary);
  box-shadow: inset 0 0 5px grey;
}