/////////////////////////////////////////////////////////////////////////////////////////////
//custom material theme 
@use '@angular/material' as mat;

@import '~material-icons-font/sass/variables';
@import '~material-icons-font/sass/mixins';
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import '~material-icons-font/sass/main';
@import '~material-icons-font/sass/Regular';

@include mat.core();

$dogschool-crm-primary: mat.define-palette(mat.$cyan-palette);
$dogschool-crm-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$dogschool-crm-warn: mat.define-palette(mat.$red-palette);

$dogschool-crm-theme: mat.define-light-theme((color: (primary: $dogschool-crm-primary,
        accent: $dogschool-crm-accent,
        warn: $dogschool-crm-warn,
      )));

$dogschool-crm-dark-theme: mat.define-dark-theme((color: (primary: $dogschool-crm-primary,
        accent: $dogschool-crm-accent,
        warn: $dogschool-crm-warn,
      )));

@include mat.all-component-themes($dogschool-crm-theme);

.dark-mode {
  @include mat.all-component-colors($dogschool-crm-dark-theme);
}

/////////////////////////////////////////////////////////////////////////////////////////////
:root {
  --primary: #00bcd4;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.dark-mode {
  .svg-icon {
    filter: invert(1);
  }
}

.d-flex {
  display: flex !important;
}
.flex-column{
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 auto;
}

.p-16 {
  padding: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}
.pt-16{
  padding-top: 16px;
}

.m-16 {
  margin: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-8 {
  margin-top: 8px !important;
}

.ml-32{
  margin-left:32px;
}

.g-16 {
  gap: 16px;
}

border{
  border:1px solid black;
}

.full-width {
  width: 100%
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #e9e9e9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // doesn't work
  background: var(--primary);
  box-shadow: inset 0 0 5px grey;
}