<div class=" header d-flex justify-between align-center m-m">
    <div>
        <h2>Trainings</h2>
        <p>Click on a table row to see or edit training details. </p>
    </div>
    <button mat-mini-fab color="primary" title="Add training" (click)="openAddEditTrainingDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="table-container mat-elevation-z4  mb-m  ">
    <table mat-table matSort (matSortChange)="setSorting($event)"
        [dataSource]="trainings|searchFilter:searchString|sortJSONArray:sortProp:sortDir" class="full-width">

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
            <td mat-cell *matCellDef="let training"> {{ training.date|date:'short' }} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration </th>
            <td mat-cell *matCellDef="let training"> {{ training.duration }} </td>
        </ng-container>

        <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client </th>
            <td mat-cell *matCellDef="let training">
                {{ training.clientName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="dogName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dog </th>
            <td mat-cell *matCellDef="let training">
                {{ training.dogName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location </th>
            <td mat-cell *matCellDef="let training"> {{ training.location }} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject </th>
            <td mat-cell *matCellDef="let training"> {{ training.subject }} </td>
        </ng-container>

        <ng-container matColumnDef="topics">
            <th mat-header-cell *matHeaderCellDef>Main topics </th>
            <td mat-cell *matCellDef="let training"> {{ training.topics }} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="tableColumns;sticky: true"></tr>
        <tr mat-row [routerLink]="['/training/'+ row.trainingID]" *matRowDef="let row; columns:tableColumns;"></tr>

    </table>
</div>