<mat-card class="full-height-minus-2sizem  flex-1  border-primary card ">
    <h3 class="card-header">
        <div class="bg-mode pl-s pr-s d-flex align-center ">
            <mat-icon color="primary" class="pr-xs"> person </mat-icon>
            <span>
                {{ client.firstName }} {{ client.lastName }}
            </span>
        </div>
    </h3>

    <mat-card-content class="mt-s">
        <h4>Contact</h4>
        <div *ngIf=" client.mobilePhone.number">
            <span>{{ client.mobilePhone.areaCode }} / {{
                client.mobilePhone.number
                }}
            </span>
            <mat-checkbox color="primary" [checked]="client.whatsApp" disabled="" class="ml-s">
                WhatsApp
            </mat-checkbox>
        </div>
        <p *ngIf=" client.landlinePhone.number">{{
            client.landlinePhone.areaCode
            }} /
            {{ client.landlinePhone.number }} </p>
        <p *ngIf=" client.email">{{ client.email }} </p>

        <h4 *ngIf=" client.street">Address</h4>
        <p *ngIf=" client.street">{{ client.street }} </p>
        <p *ngIf=" client.city">{{ client.zipCode }} {{
            client.city
            }}
        </p>
    </mat-card-content>
</mat-card>