:host {
    padding: var(--size-m);
    overflow-y: auto;
}

.mode-icon {
    filter: invert(0.5);
}

.new-subject-container{
    width: 272px;
}

.subject-container {
    width: max-content;
    min-width: 272px;
    max-width: 100%;
    // display:flex;
    // flex-direction: column;
    border: solid 1px #ccc;
    min-height: 60px;
    // display: block;
    // background: white;
    border-radius: 4px;
    overflow: hidden;
}

.drag-item {
    padding:  var(--size-s);
    border-bottom: solid 1px #ccc;
    // color: rgba(0, 0, 0, 0.87);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // box-sizing: border-box;
    cursor: move;

    // background: white;
    // font-size: 14px;.
    &:last-child {
        border: none;
    }
    mat-icon{
        
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.subject-container.cdk-drop-list-dragging {
    .drag-item {
       &:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
    }
}